<footer>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center">
      <a href="#"><i class="fab fa-twitter ic px-2"></i></a>&nbsp;&nbsp;
      <a href="#"><i class="fab fa-facebook-f ic px-2"></i></a>&nbsp;&nbsp;
      <a href="#"><i class="fab fa-instagram ic px-2"></i></a>&nbsp;&nbsp;
      <a href="#"><i class="far fa-envelope ic px-2"></i></a>
    </div>
    <p style="margin: 0;">©2020 Competition Portal</p>
  </div>
</footer>
</body>

</html>