<footer ><i class="fab fa-twitter ic"></i>
    <i class="fab fa-facebook-f ic"></i>
    <i class="fab fa-instagram ic"></i>
    <i class="far fa-envelope ic"></i>
      <p>©2020 Competition Portal</p></footer>
</body>
</html>