<%- include("partials/Header.ejs")%> <%-messages("partials/Messages.ejs", locals)%>
<!--To publish the errors on screen for user if any were found-->

<div class="container" style="min-height: 100vh;">
    <div class="card center">
        <div class="Success competitionExamHeader">
            <h2 style="color: #150999;" >Congratulations Your Competition Is Created</h2>
            <h4 >Competition Search Code : <%=code%></h4>
        </div>
        <hr style="background-color:#150999">
    </div>
</div>

<%-include("partials/Footer.ejs")%>