<%- include("partials/Header.ejs")%> <%-messages("partials/Messages.ejs", locals)%>
<!--To publish the errors on screen for user if any were found-->

<div class="container">
  <form action="/competitions/<%=user.Username%>/CreateCompetition" method="post">
    <div class="card center">
      <section class="Basic-Info-Section ">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <label for="CompetitionID" class="editProfileLabels form-label">Enter Competition Title</label>
            <input type="text" class="form-control" id="CompetitionID" name="competitionTitle" required>
          </div>
          <div class="col-md-6 col-sm-12">
            <label for="competitionCost" class="editProfileLabels form-label">Enter Competition Cost</label>
            <input type="number" class="form-control" id="competitionCost" name="competitionCost" required>
          </div>
        </div>


        <div class="row genderAvatar">
          <div class="col-md-6 col-sm-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label style="font-size: small;" class="input-group-text">Select Category</label>
              </div>
              <select class="custom-select" name="category" required>
                <option value="Programming">Programming</option>
                <option value="Mathematics">Mathematics</option>
                <option value="Physics">Physics</option>
                <option value="Mechanics">Mechanics</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label style="font-size: small;" class="input-group-text">Number Of Questions In Competition</label>
              </div>
              <input type="number" value="1" min="1" max="25" name="questionNumber" required>
            </div>
          </div>

          <div class="genderAvatar col-12">
            <label for="startDate" class=" form-label">Enter Competition's Start Date</label>
            <input type="datetime-local" class="form-control" name="startDate" required>
          </div>

          <div class="genderAvatar col-12">
            <label for="endDate" class="editProfileLabels form-label">Enter Competition's End Date</label>
            <input type="datetime-local" class="form-control" name="endDate" required>
          </div>

          <div class="col-12 genderAvatar">
            <label for="description" class="editProfileLabels form-label">Enter Competition's Description</label>
            <textarea type="text" class="form-control" name="description"></textarea>
          </div>

          <div class="saveDiscard">
            <a href="/competitions" class="buttonProfile btn btn-danger">Discard</a>
            <button type="submit" class="buttonProfile btn btn-info" style="margin-right: 20px">Next</button>
          </div>
      </section>
    </div>
  </form>
</div>

<%-include("partials/Footer.ejs")%>