<%- include("partials/Header.ejs")%>

<%-include("partials/Messages.ejs")%> <!--To publish the errors on screen for user if any were found-->

<div class="container">
  <div class="row center">
    <div class="row ">
      <div class="col-lg-8">
        <h1 class="homeHeader">Competition Hosting Is Easier Now.</h1>
        <p class="pargraphHeader">join Competition Portal now and be able to create or participate in online exams & compitetions of different subjects.</p>
      </div>
      <div class="col-lg-4">

      </div>
    </div>
    <div style="padding-top: 3%;" class="row ">
      <div class="col-lg-4">
        <div class="card text-white bg-info mb-3">
          <div class="card-header"><h5><i class="fas fa-medal"></i> Competitions</h5></div>
          <div class="card-body">
            <p class="card-text">Host custom competitions where you will be able to determine the questions and time in competitions and compete other users.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-header"><h5><i class="fas fa-book-reader"></i> Exams/Quizes</h5></div>
          <div class="card-body">
            <p class="card-text">Create online exams/quizes to your students where you can set the questions and time for the exam and check your students answers.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-header"><h5><i class="fas fa-users"></i> Participants</h5></div>
          <div class="card-body">
            <p class="card-text">Participate easily in online exams hosted by your teacher & also compete yourself with other users competitions to receive awards & more.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%-include("partials/Footer.ejs")%>
