body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*Footer Prop*/
footer {
  background-color: #f8f8ff;
  padding: 2% 2%;
  text-align: center;
}

.ic {
  color: black;
  transition: all 0.3s;
}

.ic:hover {
  color: #5c5c5c;
  transform: scale(1.1);
}

/*Carousel Prop*/
.carousel .item {
  height: 30px;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 30px;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  /* remove extra space below image */
}

.header {
  font: 100em;
}
/*Navbar classes*/
.navbar {
  position: sticky;
  top: 0;
  z-index: 3;
}

.nav-item {
  margin: 0 0.4rem;
}
.btn-outline-Login {
  color: #E51552;
  background-color: white;
  border-color: #E51552;
}
.btn-outline-Login:hover {
  color: white;
  background-color: #E51552;
}

/*Center div*/
.center {
  margin: auto;
  width: 100%;
  height: 70%;
  border-radius: 10px;
  background-color: white;
  padding: 6% 12% 5% 10%;
}

.container {
  padding-top: 3%;
  padding-bottom: 3%;
}

/*Home*/
.homeHeader {
  font-size: 3.3rem;
  font-weight: bolder;
  color: #190C3A;
  font-weight: bold;
}

.pargraphHeader {
  font-size: 0.8rem;
  color: lightslategray;
}

.bg-info {
  background-color: #47a1b3 !important;
}

.home-cards {
  transition: all 0.3s;
}

.home-cards:hover {
  background-color: #0b6d80 !important;
}

.card-header h5 {
  margin: 0;
}

.card-text {
  text-align: justify;
}

/*Login & Register Page*/
.login,
.register {
  background-color: #fff;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 10% 2%;
  text-align: center;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.lblStyle {
  width: 100%;
  padding-left: 1%;
  padding-top: 2%;
  text-align: left;
  font-weight: 500;
}

.myButton {
  background-image: linear-gradient(to right, red, blue);
  border-radius: 28px;
  border: 1px solid #150999;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 16px 90px;
  text-decoration: none;
  transition: all 0.3s;
}

.myButton:hover {
  transform: scale(1.1);
  filter: hue-rotate(-76deg);
}

.myButton:active {
  position: relative;
  top: 1px;
}

.myButton:focus {
  outline: none;
}

.btnSocial {
  border-radius: 28px;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  text-decoration: none;
  padding: 16px 20px;
}

.inputStyle {
  background-color: #E7E7E7;
  padding: 1.6rem .75rem;
}

.btn:hover {
  color: white !important;
}

/*Competition & Exams Page*/
.competitionExamHeader {
  text-align: center;
  padding: 0 0 3% 0;
}

.competitionExamHeader h1 {
  font-size: 4rem;
}

.competitionExamCard{
  border: 1px solid rgba(207, 203, 203, 0.225);
  border-radius: 10px;
  margin: 1% 0;
}

.competitionExamCard:hover{
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,.125);
  box-shadow: 0 .155rem .35rem rgba(0,0,0,.075);
}

ul.competiton-breadcrumb {
  padding: 10px 16px;
  list-style: none;
  width: fit-content;
  border-radius: 3px;
  background-color:#e0e0e0;
}

ul.competiton-breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.competiton-breadcrumb li+li:before {
  padding: 8px;
  color: #8d8b8b;
  content: "|\00a0";
}

ul.competiton-breadcrumb li a {
  color: #150999;
  text-decoration: none;
  transition: all 0.3s;
}

ul.competiton-breadcrumb li a.active {
  color: #E51552;
}

ul.competiton-breadcrumb li a:hover {
  color: #E51552;
  text-decoration: none;
}

.btn-outline-Custom {
  width: fit-content;
  color: #150999;
  background-color: white;
  border-color: #150999;
}

.btn-outline-Custom:hover {
  color: white;
  background-color: #150999;
}

/*User Profile*/
.profile-details-card {
  flex-direction: row;
}

.profile-details-card img {
  width: 25%;
  padding: 1.25rem;
  border-radius: 50%;
  object-fit: cover;
}

.profile-details-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-section2 {
  margin: auto;
  width: 100%;
  height: 70%;
  border-radius: 10px;
  background-color: white;
  padding: 3% 7%;
}

.profile-section2 .competitionExamCard {
  background: #cecece;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile-section2 .competitionExamCard:hover {
  background: #494949;
  color: #cecece;
}

.aboutProfile{
  padding: 1%
}

.nameProfile{
  padding: 5% 2% 0;
}

.buttonProfile{
  float: right;
}

.editProfileLabels{
  padding:1% 0;
}

.saveDiscard{
  padding: 3% 1%;
}

.genderAvatar{
  padding-top: 3%;
}

.Success{
  text-align: center;
}
.Success h1{
  color: green;
  padding: 3%;
}
.Success h3{
  padding: 2%;
}

/*----TodoList prop-----*/
.box {
  max-width: 400px;
  padding: 2%;
  margin: 50px auto;
  background: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.box p{
  margin: 0;
  padding: 5%;
  font-weight: 200;
  color: black;
  
}
.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bdbbbb;
}
.item:last-child {
  border-bottom: 0;
}
.todoButton {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #2472CE;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}
.todoButton:hover{
  background-color: #1E3384;
}
.todoInput[type="text"] {
  text-align: left;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

.todoInput[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #1E3384;
}
.delTodo:hover i{
  color: red;
}
.todoRemove{
  color: rgb(212, 38, 38);
}